OPENAI_API_KEY=TODO

USE_AZURE_LLM=false
USE_AZURE_EMBED_MODEL=false

ADMIN_EMAIL=pneuma_admin@pneuma.com
ADMIN_PASSWORD=admin_password

DATA_SOURCE=TODO

ENABLE_WEB_SEARCH=false
ENABLE_WEB_CRAWL=false
