APP_VERSION=v0.0.1

OPENAI_API_KEY=TODO
GEMINI_API_KEY=TODO
ANTHROPIC_API_KEY=TODO

USE_AZURE_LLM=false
USE_AZURE_EMBED_MODEL=false

LLM_PATH=o4-mini

ADMIN_EMAIL=pneuma_admin@pneuma.com
ADMIN_PASSWORD=admin_password

ENABLE_WEB_SEARCH=false
ENABLE_WEB_CRAWL=false

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=pneuma_users
POSTGRES_USER=pneuma
POSTGRES_PASSWORD=pneuma_password
